rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Helpers
    function isAdmin() {
      return request.auth != null && 
        firestore.exists(/databases/(default)/documents/users/$(request.auth.uid)) &&
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Restrict verification bucket to specific user & Admins
    match /verification/{userId}/{allPaths=**} {
      allow read: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow read access to all OTHER files (e.g. public avatars/covers)
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
